<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:annotation-config/>

    <!-- Наш обработчик аннотации @DeprecatedClass -->
    <bean class="quoters.DeprecationHandlerBeanFactoryPostProcessor"/>
    <!-- Наш обработчик аннотации @Profiling -->
    <bean class="quoters.ProfilingHandlerBeanPostProcessor"/>
    <!-- Наш обработчик аннотации @InjectRandomInt -->
    <bean class="quoters.InjectRandomIntAnnotationBeanPostProcessor"/>
    <!-- Наш обработчик аннотации @PostProxy -->
    <bean class="quoters.PostProxyInvokerContextListener"/>

    <!-- Наш обработчик аннотации @InjectRandomIntAnnotationBeanPostProcessor
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/> -->

    <!-- Наш основной бин -->

       <bean class="quoters.TerminatorQuoter" id="terminatorQuoter">
            <property name="message" value="Quote sayings"/>
       </bean>
</beans>